<div class="col-sm-3 blog-sidebar">
  <%= render 'shared/sidebar/about' %>
  <%= render 'shared/sidebar/share_links' %>
  <% if @settings.tags %>
    <%= render 'shared/sidebar/tags' %>
  <% end %>
  <% if @settings.archives %>
    <%= render 'shared/sidebar/archives' %>
  <% end %>
  <%= render 'shared/sidebar/links' %>
</div><!-- /.blog-sidebar -->
