<h1>Settings</h1>


<%= simple_form_for(@user_settings) do |f| %>
  <%= f.error_notification %>

  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            General settings
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <%= f.input :blog_title %>
          <%= f.input :subtitle %>
          <%= f.input :author_name %>
          <% if @user_settings.author_image.file.nil? %>
            <%= image_tag 'user.png', class: 'img-thumbnail', width: '50px' %>
          <% else %>
            <%= image_tag @user_settings.author_image_url(:thumbnail), class: 'img-thumbnail' %>
          <% end %>
          <%= f.input :author_image %>
          <%= f.input :contact_email, hint: "Enquiry form emails will be sent here." %>
          <%= f.input :about_lead, label: 'About author (Use markdown only)' %>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Design options
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          <%= f.input :tags, label: 'Show tags' %>
          <%= f.input :archives, label: 'Show archives' %>
          <%= f.input :navbar_color %>
          <%= f.input :header_background_color %>
          <%= f.input :header_background_image %>
          <%= f.input :header_font, label: 'Heading font' %>
          <%= f.input :header_color, label: 'Heading color' %>
          <%= f.input :header_font_weight, collection: [200,400,700] %>
          <%= f.input :text_font, label: 'Body font' %>
          <%= f.input :text_color, label: 'Body color' %>
          <%= f.input :share_links_top %>
          <%= f.input :share_links_bottom %>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Links
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
          <%= f.input :github, label: 'Github username' %>
          <%= f.input :twitter, label: 'Twitter username' %>
          <%= f.input :linked_in, label: 'LinkedIn username (http://linkedin.com/in/USERNAME)' %>
          <%= f.input :instagram, label: 'Instagram username' %>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingFour">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Analytics
          </a>
        </h4>
      </div>
      <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
        <div class="panel-body">
          <%= f.input :google_analytics %>
        </div>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit 'Save settings', class: 'btn btn-default' %>
    <%= link_to 'Revert to default settings', default_settings_path, method: :post, class: 'btn btn-warning', data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>
